//========================================================
//                     Variables
//=========================================================
$color-1: #97f0d6;
$color-2: #263238;

$fnt-fam-1: 'Roboto', sans-serif;
$body-font: 400 14px/26px $fnt-fam-1;
