//========================================================
//                     Variables
//========================================================

$primary-color: #E91E63;
$secondary-color: #33434b;
$secondary-color-light: #3D515A;
$contrast-color: #FFFFFF;
$header-background-image: '../../projects/default/img/default-header-bg.png';

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700);

$primary-font-family:'Montserrat', sans-serif;

//========================================================
//                     Color & Styles
//========================================================

h2 {
	color: $primary-color;
}
h3 {
	color: $primary-color;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% bottom;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $secondary-color-light;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 256px bottom;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 256px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

.rd-mobilepanel_title {
	top: 100px;
	left: 65px;
}

.rd-mobilemenu {
	.logo{
		background-color: $secondary-color;
	}
}

.toTop {
	background-color: $secondary-color;
	&:hover {
    	background: lighten($secondary-color, 20%);
	}
}