@import url(//fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700);
h1 {
  color: #FFFFFF;
}

h2 {
  color: #E91E63;
}

h3 {
  color: #E91E63;
}

.page-content.active .rd-mobilepanel {
  background-position: 66% top;
}

@media (max-width: 1440px) {
  .page-content.active .rd-mobilepanel {
    background-position: 100% bottom;
  }
}

.rd-mobilepanel {
  background-color: #363A41;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

@media (max-width: 1440px) {
  .rd-mobilepanel {
    background-size: 60% auto;
    background-position: 256px bottom;
  }
}

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/default/img/default-header-bg.png");
  height: 256px;
}

[data-section="introduction"] .rd-mobilepanel.fixed {
  height: 56px;
  background-image: none;
  transition: top 1s ease-out 0.5s;
}

body:not([data-section="introduction"]) .tm-title-caption {
  display: none;
}

.rd-mobilepanel_title {
  top: 80px;
}

.tm-title-caption {
  font-size: 22px;
  top: 180px;
  left: 70px;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.rd-mobilemenu .panel {
  top: 135px;
}

.rd-mobilemenu .logo {
  background-color: #f9f9f9;
}

.toTop {
  background-color: #363A41;
}

.toTop:hover {
  background: #646c79;
}

.files_structure li .fa {
  color: #5f6778;
}
