//========================================================
//                     Variables
//========================================================

$default-color: #7d7d7d;
$primary-color: #ffb300;
$secondary-color: #777;
$secondary-color-light: #f7f7f7;
$header-color: #ffb300;
$logo-bg: #999;
$header-background-image: '../../projects/alistaco/img/header-bg.png';

@import url(//fonts.googleapis.com/css?family=Noto+Sans:700%7CRoboto:400,700);
$primary-font-family: 'Roboto', sans-serif;

//========================================================
//                     Color & Styles
//========================================================

h2 {
	color: $primary-color;
}
h3 {
	color: $primary-color;
}

.page-content {

	.rd-mobilepanel {
		background-position: 60% bottom;
	}

	&.active {
		.rd-mobilepanel {
			background-position: 60% bottom;
		}
	}
}

.rd-mobilepanel {
	box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
	transition-property: height;
	transition-duration: 2s;
	transition-timing-function: linear;
	transition-delay: 1s;

	&_toggle {
		z-index: 99999999;
	}
	&_toggle span, &_toggle span:before, &_toggle span:after {
		background-color: $header-color;
	}
	&.fixed {
		background-image: url("img/header-bg-texture.png");
		background-repeat: no-repeat;
		border-bottom: none;
		box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
	}
}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url("img/header-bg-texture.png");
		background-repeat: no-repeat;
		height: 500px;
		z-index: 99999998;

		&:before {
			content: '';
			position: absolute;
			background-position: 60% bottom;
			background-image: url("img/header-bg.png");
			transition-property: height;
			transition-duration: 2s;
			transition-timing-function: linear;
			transition-delay: 1s;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			z-index: 99999999;
		}

		&.fixed {
			height: 56px;
			transition: top 1s ease-out 0.5s;
		}

		&.fixed:before {
			background-image: none;
		}
	}
}

body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

.rd-mobilepanel_title {
	font-family: $primary-font-family;
	top: 250px;
	left: 80px;
	right: auto;
	color: $header-color;
	text-transform: uppercase;
}

.tm-title-caption {
	font-family: $primary-font-family;
	font-size: 17px;
	top: 340px;
	left: 83px;
	right: auto;
	letter-spacing: 3.7px;
	text-transform: uppercase;
	font-weight: 700;
}

.rd-mobilemenu {
	background-color: transparent;
	&:before {
		box-shadow: -5px 0 7px 0 rgba(0, 0, 0, 0.1);
	}
	.logo {
		background-color: $logo-bg;
	}
	li {
		font-family: $primary-font-family;
		font-size: 13px;
		font-weight: 300;
		letter-spacing: .2px;
	}
	&_ul {
		a {
			padding: 13px 25px 14px;
		}
		a:hover, a.active, a.opened {
			background-color: lighten($primary-color, 40%);
		}
		ul a.focus {
			color: darken($primary-color, 10%);
		}
	}
}

.toTop {
	background-color: $primary-color;
	&:hover {
		background: lighten($primary-color, 20%);
	}
}

.files_structure {
	li {
		.fa {
			color: $default-color;
		}
	}
}

.codebox {
	background-color: $secondary-color-light;
}

.small {
	font-size: .9em;
	letter-spacing: .3px;
}