//========================================================
//                     Variables
//========================================================

$default-color: #7d7d7d;
$primary-color: #3faee6;
$secondary-color-light: #f7f7f7;
$header-background-color: #f9f9f9;
$header-color: #333;
$header-background-image: '../../projects/creatica/img/header-bg.png';

@import url(//fonts.googleapis.com/css?family=Noto+Sans:700%7CUbuntu:400,700);
$primary-font-family:'Montserrat', sans-serif;
$secondary-font-family: 'Ubuntu', sans-serif;

//========================================================
//                     Color & Styles
//========================================================

h2 {
	color: $primary-color;
}
h3 {
	color: $primary-color;
}

.page-content {

	.rd-mobilepanel {
		background-position: 60% bottom;
	}

	&.active {
		.rd-mobilepanel {
			background-position: 60% bottom;
		}
	}
}

.rd-mobilepanel {
	border-bottom: 1px solid #f0f0f0;
	transition-property: height;
	transition-duration: 2s;
	transition-timing-function: linear;
	transition-delay: 1s;
    &_toggle {
      z-index: 99999999;
    }
	&_toggle span, &_toggle span:before, &_toggle span:after {
		background-color: $header-color;
	}
    &.fixed {
      background: linear-gradient(90deg, #f9f9f9, #ccc);
    }
}

[data-section="introduction"] {
	.rd-mobilepanel {
        background: linear-gradient(90deg, #f9f9f9, #ccc);
        height: 500px;
        z-index: 99999998;

      &:before {
        content: '';
        position: absolute;
        background-position: 60% bottom;
        background-image: url("img/header-bg.png");
        transition-property: height;
        transition-duration: 2s;
        transition-timing-function: linear;
        transition-delay: 1s;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        z-index: 99999999;
      }

      &.fixed {
        height: 56px;
        background: linear-gradient(90deg, #f9f9f9, #ccc);
        transition: top 1s ease-out 0.5s;
      }

      &.fixed:before {
        background-image: none;
      }
	}
}

body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

.rd-mobilepanel_title {
	font-family: $secondary-font-family;
	top: 250px;
	left: 80px;
	right: auto;
	color: $header-color;
}

.tm-title-caption {
	font-family: $secondary-font-family;
	font-size: 22px;
    left: 85px;
	right: auto;
	color: $header-color;
}

.rd-mobilemenu {
	background-color: transparent;
	&:before {
		box-shadow: -5px 0 7px 0 rgba(0, 0, 0, 0.1);
	}
	.logo {
		background-color: $secondary-color-light;
	}
	li {
		font-family: $secondary-font-family;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: .2px;
	}
	&_ul {
		a {
			padding: 13px 25px 14px;
		}
		a:hover, a.active, a.opened {
          background-color: rgba(#3faee6, .2);
		}
		ul a.focus {
			color: $primary-color;
		}
	}
}

.toTop {
  background-color: $default-color;
  &:hover {
    background: lighten($default-color, 20%);
  }
}

.files_structure {
  li {
    .fa {
      color: $primary-color;
    }
  }
}

.codebox {
  background-color: $secondary-color-light;
}