@import url(//fonts.googleapis.com/css?family=Noto+Sans:700%7CArimo:400,700%7Myriad+Pro:400);
h2 {
  color: #13d754;
}

h3 {
  color: #13d754;
}

.page-content .rd-mobilepanel {
  background-position: 60% bottom;
}
.page-content.active .rd-mobilepanel {
  background-position: 60% bottom;
}

.rd-mobilepanel {
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}
.rd-mobilepanel_toggle {
  z-index: 99999999;
}
.rd-mobilepanel_toggle span, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
  background-color: #13d754;
}
.rd-mobilepanel.fixed {
  background-color: #2e2c2f;
  border-bottom: none;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
}

[data-section="introduction"] .rd-mobilepanel {
  background-color: #2e2c2f;
  height: 500px;
  z-index: 99999998;
}
[data-section="introduction"] .rd-mobilepanel:before {
  content: '';
  position: absolute;
  background-position: 60% bottom;
  background-image: url("img/header-bg.png");
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  z-index: 99999999;
}
[data-section="introduction"] .rd-mobilepanel.fixed {
  height: 56px;
  transition: top 1s ease-out 0.5s;
}
[data-section="introduction"] .rd-mobilepanel.fixed:before {
  background-image: none;
}

body:not([data-section="introduction"]) .tm-title-caption {
  display: none;
}

.rd-mobilepanel_title {
  font-family: "Myriad Pro", sans-serif;
  top: 268px;
  left: 100px;
  right: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.tm-title-caption {
  font-size: 28px;
  top: 340px;
  left: 83px;
  right: auto;
  letter-spacing: 1px;
}

.rd-mobilemenu {
  background-color: #fafafa;
}
.rd-mobilemenu:before {
  box-shadow: -5px 0 7px 0 rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu .logo {
  background-color: #252326;
}
.rd-mobilemenu li {
  font-family: "Arimo", sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: .2px;
}
.rd-mobilemenu_ul a {
  padding: 13px 25px 14px;
}
.rd-mobilemenu_ul a:hover, .rd-mobilemenu_ul a.active, .rd-mobilemenu_ul a.opened {
  background-color: #13d754;
  color: #ffffff;
}
.rd-mobilemenu_ul ul a.focus {
  color: #ff1c86;
  font-weight: 700;
}

.toTop {
  background-color: #ff1c86;
}
.toTop:hover {
  background: #13d754;
}

.files_structure li .fa {
  color: #13d754;
}

.codebox {
  background-color: #fafafa;
}

.text-secondary {
  color: #f5dfd2;
}

.small {
  font-size: .9em;
  letter-spacing: .3px;
}
